* {
   margin : 0;
   padding: 0;
}
body {
	padding: 4px; /* haut droite bas gauche */
}
div {
   box-sizing: border-box;
}
#ardsim-title {
   display: inline-block;
}
.ardsim-label {
   display       : inline-block;
	width         : 64px;
   height        : 100%;
   line-height   : 20px;
   text-align    : left;
   vertical-align: middle;
}
.ardsim-rank {
   display       : inline-block;
	width         : 24px;
   height        : 100%;
   line-height   : 20px;
   text-align    : right;
   vertical-align: middle;
   margin        : 0 4px 0 0;
}
.ardsim-role {
	display       : inline-block;
   width         : 56px;
   height        : 100%;
   line-height   : 20px;
   text-align    : center;
   vertical-align: middle;
}
.ardsim-checkbox {
   width         : 20px;
   height        : 20px;
   line-height   : 20px;
   vertical-align: middle;
}
.ardsim-checkbox:checked {
    background: #26ca28;
}
.ardsim-slider {
   line-height   : 20px;
   vertical-align: middle;
   width         : calc( 100% - 64px - 24px - 4px - 42px );
   padding       : 0 0 0 4px; /* haut droite bas gauche */
}
.ardsim-analog-value {
   display       : inline-block;
   width         : 42px;
   margin-left   : 4px;
}
#ardsim-app {
   display: block;
   width  : 1000px;
}
#ardsim-top {
   display: flex;
}
#ardsim-controls {
   flex       : 300px;
   padding    : 4px;
   border-top : 3px solid darkgray;
   border-left: 3px solid darkgray;
}
#ardsim-log {
   display     : block;
	flex        : calc(100% - 300px);
   height      : 420px;
   padding     : 4px;
   overflow-y  : scroll;
   border-top  : 3px solid darkgray;
   border-left : 3px solid darkgray;
   border-right: 3px solid darkgray;
}
#ardsim-log > p {
	line-height: normal;
   margin     : 0;
}
#ardsim-status {
   display: inline-block;
   width  : 100%;
   padding: 4px;
   border : 3px solid darkgray;
}
