* {
   margin     : 0;
   padding    : 0;
   font-family: sans-serif;
}
body {
	padding: 4px; /* haut droite bas gauche */
}
div {
   box-sizing: border-box;
}
.ardsim-io {
   display        : flex;
   justify-content: left;
   align-items    : center;
}
.ardsim-io label:nth-of-type(2) { /* rank */
   display   : inline-block;
	width     : 24px;
   text-align: right;
   margin    : 0 2px;
}
.ardsim-io label:nth-of-type(3) { /* role */
	display   : inline-block;
   width     : 42px;
   text-align: right;
   margin    : 0 2px;
}
.ardsim-digital {
   width : 24px;
   height: 24px;
   margin: 0 2px;
}
.ardsim-digital:checked {
    background: #26ca28;
}
.ardsim-analog {
   width  : calc( 100% - 64px - 24px - 4px - 42px );
   height : 24px;
   padding: 0 0 0 4px; /* haut droite bas gauche */
}
.ardsim-analog-value {
   display    : inline-block;
   width      : 42px;
   margin-left: 4px;
}
#ardsim-app {
   display: block;
   width  : 1000px;
}
#ardsim-top-title {
   display       : inline-block;
	height        : 42px;
}
#ardsim-reset {
   display       : inline-block;
   width         : 72px;
   height        : 80%;
   font-weight   : bold;
   vertical-align: middle;
}
#ardsim-title {
   display       : inline-block;
   vertical-align: middle;
   height        : 100%;
}
#ardsim-top {
   display: flex;
}
#ardsim-controls {
   flex       : 300px;
   padding    : 4px;
   border-top : 3px solid darkgray;
   border-left: 3px solid darkgray;
}
#ardsim-log {
   display     : block;
	flex        : calc(100% - 300px);
   height      : calc(4px + 4px + 3px + (14 + 6) * 24px);
   padding     : 4px;
   overflow-y  : scroll;
   border-top  : 3px solid darkgray;
   border-left : 3px solid darkgray;
   border-right: 3px solid darkgray;
}
#ardsim-log > p {
	line-height: normal;
   margin     : 0;
}
#ardsim-status {
   display: inline-block;
   width  : 100%;
   padding: 4px;
   border : 3px solid darkgray;
}
